.property {
  min-height: 3rem;
  color: white;
  font-size: 63px;
  line-height: 67px;
}

.name {
  padding-bottom: 1rem;
  color: #808080;
  font-size: 45px;
  font-family: "HelveticaNeueRegular";
  line-height: 45px;
  letter-spacing: 2px;
}

.property p {
  margin: 0rem;
  font-family: "HelveticaNeueRegular";
}

@media only screen and (max-width: 1680px) {
  .property {
    min-height: 3vh;
    font-size: 3vh;
    line-height: 3vh;
  }
  .name {
    padding-bottom: 1vh;
    font-size: 2vh;
    line-height: 2vh
  }
  p {
    padding-bottom: 1vh;
  }
}

