.header {
  display: flex;
  flex-flow: row nowrap;
  color: white;
  white-space: nowrap;
  justify-content: space-between;
  min-height: 8rem;
}

.header p {
  margin: 0rem;
}

.header > div {
  padding-left: 2rem;
  padding-right: 2rem;
}
.header > div:first-child {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

.header > div:nth-child(2) {
  padding-left: 248px;
  padding-right: 0;
}

.header > div:nth-child(3) {
  padding-left: 0;
  padding-right: 0;
}

.header > div:nth-child(4) {
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
}

.header img {
  width: 500px;
  margin-top: -16px;
}

.status {
  background-color: #8f1d3b;
  text-transform: capitalize;
  padding: 2rem;
  min-width: 504px;
  font-size: 78px;
  text-align: center;
  /* Added font-family and padding here b/c
  I don't understand css - Tray */
  font-family: HelveticaNeueBold;
  padding-top: 45px;
  letter-spacing: 1.12px;
}

.departureTime p {
  font-size: 82px;
  line-height: 122px;
  text-align: end;
  text-transform: uppercase;
}

@media only screen and (max-width: 1680px) {
  .status {
      min-width: 35%;
      font-size: 3vw;
      padding:2vh;
  }
  .header > div:nth-child(2) {
    padding-left: 3vw;
    padding-right: 0;
  }
  .header {
    min-height: 10%;
    max-height:10%
}
.header img {
  width: 20vw;
  margin-top: -1vh;
}
.departureTime p {
  font-size: 4vh;
  line-height: 6vh;
 
}
}
