.card {
  display: flex;
  flex-flow: column nowrap;
}

.cardUnderline {
  border-bottom: 4px solid #808080;
}

.header {
  border-bottom: 4px solid #808080;
}

.destination {
  font-size: 150px;
  line-height: 178px;
}

.property {
  padding: 2rem 0rem;
  min-height: 8rem;
}

.propertyUnderline {
  border-bottom: 4px solid #808080;
}

.propertyText {
  min-height: 8rem;
  max-height: 8rem;
  overflow-y: hidden;
}
