.board {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  background-color: black;
  position: relative;
}

.title {
  background-color: #8f1d3b;
  padding: 4rem 6rem 2rem 6rem;
}

.cards {
  padding: 6rem 6rem;
  background-color: black;
}

.cards > div + div {
  padding-top: 6rem;
}
