.property {
  min-height: 3rem;
  color: white;
  font-size: 68px;
}

.name {
  padding-bottom: 1rem;
  color: #808080;
  font-size: 62pt;
  font-family: "HelveticaNeueRegular";
  line-height: 80px;
}

.property p {
  margin: 0rem;
  font-family: "HelveticaNeueRegular";
}
