.board {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  background-color: black;
  position: relative;
}

.title {
  background-color: #8f1d3b;
  min-height: 426px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.title img {
  margin-bottom: 4rem;
  height: 218px;
}

@media only screen and (max-width: 1680px) {
  .title img {
      max-width: 90%;
      max-height:10vh;
      height:unset;
      margin-bottom: 1vw;
      margin-top:1vw;
  }
  .title {
    min-height: unset
}
}



.cards {
  padding: 4rem 199px;
  background-color: black;
}

@media only screen and (max-width: 1680px) {
  .cards {
      padding: 2rem;
  }
}

.propertyUnderline {
  border-bottom: 4px solid #808080;
}

.cards > div + div {
  padding-top: 0rem;
}
