.header {
  display: flex;
  flex-flow: row nowrap;
  color: white;
  white-space: nowrap;
  justify-content: space-between;
  min-height: 8rem;
}

.header p {
  margin: 0rem;
}

.header > div {
  padding-left: 2rem;
  padding-right: 2rem;
}
.header > div:first-child {
  padding-left: 0rem;
}

.status {
  background-color: #8f1d3b;
  text-transform: capitalize;
  padding: 2rem;
  font-size: 98px;
}

.departureTime p {
  font-size: 114px;
  line-height: 114px;
  text-transform: uppercase;
}
