.card {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 5rem;
  padding-bottom: 2rem;
}
/* TODO: darkened line and header color from #808080
to #2b2b2b */

.cardUnderline {
  border-bottom: 4px solid #808080;
}

.header {
  border-bottom: 4px solid #808080;
}

.destination {
  font-size: 150px;
  line-height: 170px;
  height: 8.5rem;
  /* added padding-left to indent destination
  and property text */
  padding-left: 1rem;
}

.property {
  padding: 2rem 0rem;
  min-height: 8rem;
}

.propertyUnderline {
  border-bottom: 4px solid #808080;
}

.propertyText {
  min-height: 8rem;
  max-height: 8rem;
  padding-left: 1rem;
  overflow-y: hidden;
  letter-spacing: 1.5px;
}
