@font-face {
  font-family: HelveticaNeueBold;
  src: url(./fonts/HelveticaNeueLTPro-Bd.otf) format("opentype");
}

@font-face {
  font-family: HelveticaNeueRegular;
  src: url(./fonts/HelveticaNeueLTPro-Roman.otf) format("opentype");
}
